---
import { getCollection } from 'astro:content'
import BlogLayout from '../../layouts/BlogLayout.astro'
import { AppConfig } from '../../AppConfig'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<BlogLayout title={`${entry.data.title} | ${AppConfig.title}`}>
  <h4>{entry.data.title}</h4>
  <h5>related tags:</h5>
  <ul class="menu menu-horizontal rounded-lg m-0 mb-16 p-0 gap-4">
    {
      entry.data.tags.map((tag) => (
        <li class="m-0 p-0 text-xs">
          <a
            class="rounded-lg m-0 p-0"
            href="#">
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
  <Content />
</BlogLayout>
