---
import SectionLayout from '../../layouts/SectionLayout.astro'

type Props = {}

const {} = Astro.props

const sectionID = 'home'
---

<SectionLayout
  id={sectionID}
  title="Home"
  fullScreen
  centered>
  <h1>Welcome to the Kimagination Blog</h1>
</SectionLayout>
