---
import SectionLayout from '../../layouts/SectionLayout.astro'

type Props = {}

const {} = Astro.props

const sectionID = 'home'
---

<SectionLayout
  id={sectionID}
  title="Home"
  fullScreen
  centered
  classes="flex-col">
  <div class="h-fit w-fit relative flex justify-center items-center flex-col">
    <h1 class="relative z-10">Welcome to the best Astro Template</h1>

    <div class="flex gap-2 relative z-10 py-8">
      <button
        x-data
        @click="$dispatch('notify', { message: 'This is a notification containing information for the user', level: 'info' })"
        class="btn btn-primary rounded-full"
        >Read Blog Posts</button
      >
      <button class="btn btn-primary rounded-full btn-outline"
        >learn more</button
      >
    </div>
  </div>
</SectionLayout>
