<footer
  class="footer footer-center p-4 text-base-content border-t border-t-base-300 flex-none">
  <aside>
    <p>Copyright © 2024 - All right reserved by Kimagination Bureau Poland</p>
  </aside>
</footer>
