---
interface Props {
  title?: string
}

const { title = 'Kimagination Blog' } = Astro.props
---

<head>
  <meta charset="utf-8" />
  <link
    rel="icon"
    type="image/svg+xml"
    href="/favicon.svg"
  />
  <meta
    name="viewport"
    content="width=device-width"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <title>{title}</title>
</head>

<style is:global>
  h1 {
    @apply text-5xl font-bold tracking-tight leading-normal;
  }
  h2 {
    @apply text-3xl font-bold tracking-tight leading-normal;
  }
  h3 {
    @apply text-xl font-bold tracking-tight leading-relaxed;
  }
</style>
