---
import { Icon } from 'astro-icon/components'
import Link from '../Link.astro'

interface Props {
  links: { href: string; title: string }[]
}
const { links } = Astro.props
---

<nav
  class="absolute top-0 left-0 right-0 flex justify-between container py-8 mx-auto px-2">
  <!--  Logo   -->
  <h1 class="text-xl font-bold">Kimagination</h1>
  <div class="flex gap-8">
    <!--  Links -->
    <Link {links} />
    <!--  Dark Mode Button -->
    <label class="swap swap-rotate">
      <!-- this hidden checkbox controls the state -->
      <input
        type="checkbox"
        @click="dark=!dark"
      />

      <!-- sun icon -->
      <Icon
        name="sun"
        class="swap-on fill-current w-10 h-10"
      />
      <!-- moon icon -->
      <Icon
        name="moon"
        class="swap-off fill-current w-10 h-10"
      />
    </label>
  </div>
</nav>
