---
const { message, level, progress, ...rest } = Astro.props

console.log(level)
---

<div class="toast relative px-0 py-2">
    <div
        x-ref="toast"
        class="alert rounded-lg px-0 py-0 my-0 flex flex-col overflow-hidden">
        <span
            x-text={message}
            class="px-4 pt-4"
        ></span>
        <progress
            x-ref="progress"
            class="progress progress-base h-1 w-full"
            :value={progress}
            max="100"
        ></progress>
    </div>
</div>
