---
import Footer from '../components/structure/Footer.astro'
import Head from '../components/structure/Head.astro'
import Header from '../components/structure/Header.astro'

interface Props {
  title?: string
}

const { title } = Astro.props

const links = [
  {
    href: '/',
    title: 'home',
  },
  {
    href: '#contact',
    title: 'contact',
  },
  {
    href: '#about',
    title: 'about',
  },
]
---

<html
  lang="en"
  x-data="{ dark : $persist(false) }"
  :data-theme="dark ? 'black' : 'light'">
  <Head {title} />
  <body>
    <!-- Header -->
    <Header {links} />
    <main class="prose">
      <!-- 		Main Content	 -->
      <slot />
    </main>
    <!-- Footer -->
    <Footer />
  </body>
</html>
