---
type Props = {
  id: string
  title: string
  description?: string
  fullScreen?: boolean
  centered?: boolean
  relative?: boolean
  classes?: string
}

const {
  id,
  title,
  description,
  fullScreen,
  centered,
  relative,
  classes,
  ...rest
} = Astro.props
---

<section
  {id}
  class="flex"
  class:list={[
    fullScreen && 'min-h-full w-full',
    centered && 'items-center justify-center',
    relative && 'relative',
    classes,
  ]}
  {...rest}>
  <slot />
</section>
